.parent {
  height: 95vh;
  width: 98vw;
  background: rgb(184, 184, 184);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex h1 {
  font-size: 4rem;
}

.flex p {
  font-size: 1.3rem;
}

@media screen and (max-width: 475px) {
  .flex h1 {
    font-size: 3rem;
  }
  .flex p {
    font-size: 1rem;
  }
}
