.parent {
  width: 98vw;
  height: 96vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+0,ffffff+0,ffffff+11,d8d8d8+100 */
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #fcfcfc 0%,
    #ffffff 0%,
    #ffffff 0%,
    #ffffff 11%,
    #d8d8d8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #fcfcfc 0%,
    #ffffff 0%,
    #ffffff 0%,
    #ffffff 11%,
    #d8d8d8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #fcfcfc 0%,
    #ffffff 0%,
    #ffffff 0%,
    #ffffff 11%,
    #d8d8d8 100%
  );
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 5px 5px;
  max-width: 1500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7px;
}

.text{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.parent h1 {
  text-align: left;
  margin-left: 4rem;
  font-size: 3rem;
  margin-top: 1rem;
}

.parent p {
  text-align: left;
  margin-left: 4rem;
  margin-top: 4rem;
  font-size: 120%;
  line-height: 2rem;
}

.image {
  display: flex;
  height: 100%;
  width: 55%;
  justify-content: center;
  align-items: center;
}

.app {
  display: block;
  height: 55%;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18rem; 
  margin-left: 4rem;
  margin-top: 4rem;
  }

@media screen and (max-width: 1400px) {
  .app {
    display: block;
    height: 40%;
  }
}

@media screen and (max-width: 1255px) {
  .parent{
    flex-direction: row;
  }

  .text h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .text p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .icons{
    margin-left: auto;
    margin-right: auto;
  }

  .image{
    margin-left: auto;
    margin-right: auto;
  }


  .app{
    margin-top: 6rem;
    align-self: flex-start;
  }
}

@media screen and (max-width: 640px) {
  .app{
    margin-top: 8rem;
    align-self: flex-start;
    height: 30%;
  }
}

@media screen and (max-width: 640px) {
  .app{
    margin-top: 8rem;
    align-self: flex-start;
    height: 20%;
  }
}