.parent {
  width: 98vw;
  background: rgb(91, 88, 88);
  background: linear-gradient(
    180deg,
    rgba(91, 88, 88, 1) 0%,
    rgba(45, 44, 44, 1) 100%
  );
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 5px;
  max-width: 1500px;
  /* display */

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 7px;
}

.teamh {
  color: rgb(182, 182, 182);
  margin-top: 5rem;
}

.teamp {
  margin-top: 4rem;
  color: rgb(182, 182, 182);
  width: 50rem;
}

.teamphoto {
  margin-top: 5rem;
  display: block;
  width: 25rem;
}

.members {
  margin-top: 9rem;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 9rem;
}

.member{
  margin-right: 5px;
}