.parent {
  width: 98vw;
  height: 96vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f9aea+0,7ea7dd+44,21c0ce+75,75d6ac+91 */
  background: #4f9aea; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #4f9aea 0%,
    #7ea7dd 44%,
    #21c0ce 75%,
    #75d6ac 91%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #4f9aea 0%,
    #7ea7dd 44%,
    #21c0ce 75%,
    #75d6ac 91%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #4f9aea 0%,
    #7ea7dd 44%,
    #21c0ce 75%,
    #75d6ac 91%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f9aea', endColorstr='#75d6ac',GradientType=0 ); /* IE6-9 */

  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  border-radius: 5px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.parent h1 {
  color: white;
  margin-top: 6%;
  font-size: 5rem;
}

.parent p{
  color: white;
  width: 60rem;
  margin: 3% auto auto;
  line-height: 1.6rem;
}

.parent img {
  display: grid;
  width: 25rem;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}