.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(95, 91, 91);
    border-radius: 15px;
    background-color: rgba(89, 87, 87, 0.9);
    height: 65vh;
    width: 20vw;
    /* Display */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.parent img{
    width: 10rem;
    display: block;
    border-radius: 25%;
    
}

.parent h1{
    font-size: 2rem;
    margin-left: 1rem;
    text-align: left;
    margin-top: 2rem;
    color: rgb(175, 175, 175);
}

.parent p{
    font-size: 1rem;
    margin-left: 1rem;
    text-align: left;
    margin-top: 2rem;
    color: rgb(175, 175, 175);
}